upstream contact-service {
    server app-1:6080;
    server app-2:6080;
    server app-3:6080;
}


server {
    listen 80;

    location /api/v1/group {
        proxy_pass http://app-1:6080;
    }

    location / {
        proxy_pass http://contact-service;
    }
}